body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header{
    background-color: cornsilk;
    padding: 5px 10px;
}

.title, nav, .author, .gitLink{
    display: inline;
    color: black;
}

nav{
    float: right;
}

nav a{
    color: black;
    margin: 0 10px;
}

footer{
    background-color: darkgray;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

aside{
    height: calc(100vh);
}
