.nav-link{
    color: red
}


.grid-box{
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: auto auto auto;
    padding: 20px;
    background-color: chartreuse;
}

.grid-item{
    background-color: burlywood;
    padding: 10px;
    font-size: 32px;
}